:root {
  --px: 20px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { 
  text-decoration: none; 
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

img, span, svg { 
  display: block; 
}
